body {
    font-family: Helvetica;
  }

  .Results {
    border-collapse: separate; 
    border-spacing: .5em;
  }

  .Results__header {
    text-align: left;
  }

  .Results__row {

  }

  .Results__row--disqualified {
    opacity: .5;
  }

  .Results__item--special {
    display: flex;
    flex-flow: row wrap;
  }

  .Results__item {
    padding: 0 1em;
  }

  .Results__item-extra {
    font-family: monospace;
    font-size: 12px;
    padding: 10px 0 5px;
  }

  .Results__item-extra-line {
    white-space: pre;
  }

  .Results__item-name {
    font-size: 18px;
    width: 100%;
  }

  .Results__item-year {
    color: #888;
    font-size: 10px;
    order: 99;
    padding-left: 6px;
  }

  .Results__item-team {
    font-size: 10px;
    float: left;
  }